/* colors */
:root {
  /* from https://design.firefox.com/photon/visuals/color.html */
  /* grey 10 */
  --bg-color-general: #f9f9fa;
  /* white */
  --bg-color-menu: #ffffff;
  /* grey 30 */
  --hover-color-primary: #d7d7db;
  /* grey 20 */
  --hover-color-secondary: #ededf0;
  /* grey90 a80 */
  --icon-color-primary: rgba(12, 12, 13, 0.8);
  /* grey90 a80 */
  --icon-color-secondary: rgba(12, 12, 13, 0.6);
  /* grey 90 */
  --text-color-primary: #0c0c0d;
  /* grey 60 */
  --text-color-secondary: #4a4a4f;
  /* blue 50 */
  --highlighted-color-primary: #0a84ff;
  /* blue 40 */
  --highlighted-color-secondary: #45a1ff;
  /* blue 60 */
  --highlighted-color-text: #0060df;
  /* red 50 */
  --error-color-text: #ff0039;
  /* orange 50 */
  --warning-color-text: #ff9400;
}

:root {
  background-color: var(--bg-color-general);
  color: var(--text-color-primary);
}

/* general */
label {
  vertical-align: middle;
}

input {
  box-sizing: border-box;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: text-top;
}

button {
  min-width: 15ch;
}

img.infoIcon {
  width: 1.7ex;
  opacity: 0.4;
  vertical-align: baseline;
}

.warningText,
.errorText {
  white-space: pre-line;
}

.errorText {
  color: var(--error-color-text);
}

.warningText {
  color: var(--warning-color-text);
}

.hidden {
  display: none !important;
}

.decorativeLogo {
  width: 100%;
  max-width: 50ex;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* extension pages common*/
.editorTextbox {
  width: 100%;
}

#tableColumnSelectionArea {
  float: right;
}

#tableColumnSelectionArea input {
  margin-left: 1ex;
}

#deleteButton {
  margin-bottom: 0.5ex;
}

.textContent {
  margin-left: 1rem;
}

.tabulator {
  height: 65ex;
  width: 100%;
}

/* header */
.header a {
  float: left;
  text-align: center;
  padding: 1.5ch;
  padding-bottom: 0.5ch;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color-primary);
}

.header {
  overflow: hidden;
}

.header .selectedHeaderTab {
  border-bottom: 0.5ch solid var(--highlighted-color-secondary);
}

.header a:hover {
  background-color: var(--hover-color-primary);
}

@media screen and (max-width: 70ch) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    padding: 0.8ch;
  }
}

/* selection area (used in popup and options page), exact layout is defined in the respective sections */
.selectionArea {
  display: grid;
  max-width: 70ch;
}

.selectionArea #slider {
  grid-area: slider;
  width: 100%;
  justify-self: center;
}

.selectionArea #defaultOption {
  grid-area: defaultOption;
}

.selectionArea #denyOption {
  grid-area: denyOption;
}

.selectionArea #sessionOption {
  grid-area: sessionOption;
}

.selectionArea #allowOption {
  grid-area: allowOption;
}

.selectedBehaviour {
  color: var(--highlighted-color-text);
}

.selectionArea .optionArea:hover {
  background-color: var(--hover-color-secondary);
}

.selectionArea img.selectIcon {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.selectionArea .iconText {
  text-align: center;
}

/* popup */
.extension-popup {
  background-color: var(--bg-color-menu);
}

.extension-popup body {
  width: 60ch;
  margin: 1ch;
  font-size: 80%;
}

.extension-popup .blocked {
  text-decoration: line-through;
  color: var(--text-color-secondary);
}

.extension-popup input[type="text"] {
  width: 100%;
}

.extension-popup input[type="radio"],
.extension-popup input[type="checkbox"] {
  transform: scale(0.8);
}

.extension-popup input[type="checkbox"] {
  vertical-align: sub;
}

.extension-popup .tabulator .tabulator-table .tabulator-row .tabulator-cell input[type="checkbox"] {
  margin: 0;
  vertical-align: top;
}

.extension-popup input[type="radio"] {
  vertical-align: text-bottom;
}

.extension-popup .spoiler {
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.extension-popup h1 {
  font-size: larger;
  margin: 0;
  display: inline-block;
}

.extension-popup #optionsImage {
  cursor: pointer;
  width: 3ch;
}

.extension-popup #optionsImage.active {
  fill: var(--highlighted-color-primary);
}

.extension-popup #optionsImage:hover {
  fill: var(--highlighted-color-primary);
}

.extension-popup .dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.extension-popup #optionsDropdown {
  position: absolute;
  background-color: var(--hover-color-secondary);
  min-width: 30ch;
  box-shadow: -0.5ch 1ex 2ch var(--hover-color-primary);
  right: 0;
  cursor: default;
  z-index: +1;
}

.extension-popup #optionsDropdown .dropdownItem {
  padding: 1.5ch 4ex;
  display: block;
}

.extension-popup .dropdown .dropdownItem:hover {
  background-color: var(--hover-color-primary);
}

.extension-popup img.tableIcon {
  height: 2ch;
}

.extension-popup img.tableIconDisabled {
  height: 2ch;
  opacity: 0.5;
}

.extension-popup img.inTextIcon {
  width: 1.8ch;
  vertical-align: middle;
}

.extension-popup #mainView {
  display: grid;
  grid-template-areas:
    "siteInfo"
    "cookieArea"
    "domStorageArea";
  grid-gap: 2ch;
}

.extension-popup #siteInfo {
  grid-area: siteInfo;
  overflow: auto;
}

.extension-popup #cookieArea {
  grid-area: cookieArea;
  overflow: auto;
}

.extension-popup #domStorageArea {
  grid-area: domStorageArea;
}

.extension-popup .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  text-align: center;
  text-overflow: clip;
}

.extension-popup .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title img {
  font-weight: normal;
  margin: 0 2px;
}

.extension-popup .tabulator .tabulator-header .tabulator-col[tabulator-field="whitelisted"] .tabulator-col-content .tabulator-col-title {
  text-align: left;
}

.extension-popup .tabulator {
  position: absolute;
  left: 1ch;
  width: calc(100% - 2ch);
}

.extension-popup .tabulator .tabulator-table .tabulator-row .tabulator-cell {
  text-decoration: inherit;
}

.extension-popup .tabulatorContainer {
  height: 18ex;
}

.extension-popup .tabulator-row .tabulator-cell {
  height: 2.5ch;
}

.extension-popup .selectionArea {
  grid-template-rows: auto auto auto;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
    ". slider slider slider slider slider slider ."
    "defaultOption defaultOption denyOption denyOption sessionOption sessionOption allowOption allowOption";
}

/* options page */
.extension-options .selectionArea {
  max-width: 70ch;
}

.extension-options .selectionArea {
  grid-template-rows: auto auto auto;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
    ". slider slider slider slider ."
    "denyOption denyOption sessionOption sessionOption allowOption allowOption";
}

/* cookie list cookie editor */
.extension-cookieList #cookieEditor {
  display: grid;
  grid-template-columns: 50fr 35fr 15fr;
  grid-template-rows: auto;
  grid-template-areas:
    "name value value"
    "domain path path"
    "firstPartyDomain validity secureHttp"
    "sameSite . . "
    "buttons buttons buttons";
  grid-gap: 1.5ex 3ch;
}

@media screen and (max-width: 150ch) {
  .extension-cookieList #cookieEditor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name value"
      "domain path"
      "firstPartyDomain secureHttp"
      "validity sameSite"
      "buttons buttons";
  }
}

@media screen and (max-width: 80ch) {
  .extension-cookieList #cookieEditor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "value"
      "domain"
      "firstPartyDomain"
      "path"
      "validity"
      "sameSite"
      "secureHttp"
      "buttons";
  }
}

.extension-cookieList #domainArea {
  grid-area: domain;
}

.extension-cookieList #firstPartyDomainArea {
  grid-area: firstPartyDomain;
}

.extension-cookieList #nameArea {
  grid-area: name;
}

.extension-cookieList #valueArea {
  grid-area: value;
}

.extension-cookieList #validityArea {
  grid-area: validity;
}

.extension-cookieList #pathArea {
  grid-area: path;
}

.extension-cookieList #secureHttpOnlyArea {
  grid-area: secureHttp;
}

.extension-cookieList #sameSiteArea {
  grid-area: sameSite;
}

.extension-cookieList #buttonArea {
  grid-area: buttons;
}

/* whitelist entry editor */
.extension-whitelist #entryEditor {
  display: grid;
  grid-template-columns: 9fr 40fr 51fr;
  grid-template-rows: auto;
  grid-template-areas:
    "type domain name"
    "buttons buttons buttons";
  grid-gap: 1.5ex 3ch;
}

@media screen and (max-width: 150ch) {
  .extension-whitelist #entryEditor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "type ."
      "domain name"
      "buttons buttons";
  }
}

@media screen and (max-width: 80ch) {
  .extension-whitelist #entryEditor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "type"
      "domain"
      "name"
      "buttons";
  }
}

.extension-whitelist #domainArea {
  grid-area: domain;
}

.extension-whitelist #nameArea {
  grid-area: name;
}

.extension-whitelist #typeArea {
  grid-area: type;
}

.extension-whitelist #buttonArea {
  grid-area: buttons;
}

/* site exception editor */
.extension-siteExceptions #exceptionEditor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "domain"
    "rule"
    "buttons";
  grid-gap: 1.5ex 3ch;
}

.extension-siteExceptions #domainArea {
  grid-area: domain;
}

.extension-siteExceptions #ruleArea {
  grid-area: rule;
}

.extension-siteExceptions #buttonArea {
  grid-area: buttons;
}

/* manual */
.extension-manual h1,
.extension-manual h2,
.extension-manual h3,
.extension-manual h4,
.extension-manual h5,
.extension-manual h6 {
  margin-top: 2rem;
}

.extension-manual li {
  margin: 0.5rem 0;
}

.extension-manual table {
  border-collapse: collapse;
}

.extension-manual table,
.extension-manual th,
.extension-manual td {
  border: thin solid black;
}

.extension-manual th,
.extension-manual td {
  padding: 0.5rem 1rem;
}